
ficha{
    padding: 0px;
    height: 300px;
}

ficha[id_datos]::before{
    content: "Ficha de : " attr(id_datos);
    text-align: center;
    font-size: 1.5em;
}

dui[type]::before{
    content:"DUI: "attr(type);
}
isss[type]::before{
    content: "ISSS: "attr(type);
}

afp[type]::before{
    content: "AFP: "attr(type);
}


